<!doctype html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/index}">
<body data-topbar="dark">
<div class="main-content" layout:fragment="content">
    <style>
        .textDetail {
            font-weight: bold;
            font-size: 15px;
            font-style: italic;
        }
    </style>
    <div class="page-content" ng-app="nhanvien-admin" ng-controller="ctrl">
        <div class="container-fluid">

            <div class="row align-items-center">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
                        <div>
                            <a href="#" class="btn btn-secondary"><i class="bx bx-plus me-1"></i> Thêm mới nhân viên</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-sm-6" ng-repeat="n in nhanVien">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <img src="/image/loadImage/converseLogo.png" alt=""
                                         class="avatar-lg rounded-circle img-thumbnail">
                                </div>
                                <div class="flex-1 ms-3">
                                    <h5 class="font-size-15 mb-1"><a href="#" class="text-dark">{{n.username}} -
                                        {{n.hoVaTen}}</a></h5>
                                    <p class="text-muted mb-0">{{n.vaiTro}}</p>
                                </div>
                            </div>
                            <div class="mt-3 pt-1">
                                <p class="text-muted mb-0"><i
                                        class="mdi mdi-gender-male-female font-size-16 align-middle pe-2 text-primary"></i>
                                    {{n.gioiTinh}}</p>
                                <p class="text-muted mb-0"><i
                                        class="mdi mdi-calendar-today font-size-16 align-middle pe-2 text-primary"></i>
                                    {{n.ngaySinh}}</p>
                                <p class="text-muted mb-0"><i
                                        class="mdi mdi-phone font-size-15 align-middle pe-2 text-primary"></i>
                                    {{n.soDienThoai}}</p>
                                <p class="text-muted mb-0 mt-2"><i
                                        class="mdi mdi-email font-size-15 align-middle pe-2 text-primary"></i>
                                    {{n.email}}</p>
                            </div>
                        </div>

                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-light text-truncate" data-toggle="modal"
                                    data-target="#viewUpdate11" ng-click="detail(n.username)">
                                <i class="uil uil-user me-1"></i>Thông tin
                            </button>
                            <button type="button" class="btn bg-danger btn-outline-light text-truncate text-light" ><i
                                    class="uil uil-envelope-alt me-1"></i> Chặn
                            </button>
                        </div>
                    </div>
                    <!-- end card -->
                </div>
            </div>
            <div class="row g-0 align-items-center mb-4">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <div class="float-sm-end">
                        <ul class="pagination mb-sm-0">
                            <li class="page-item disabled">
                                <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">3</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">4</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">5</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- container-fluid -->
            <!--    //////////////////////////////////////////////////////////////////////-->
            <div class="modal fade" id="viewUpdate11" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Chi Tiết Nhân Viên</h5>
                            <span type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </span>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex justify-content-center">
                                <div class="col-10 mb-3">
                                    <i class="textDetail">Mã: {{nhanVienDetail.username}}</i>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="col-10 mb-3">
                                    <i class="textDetail">Tên: {{nhanVienDetail.hoVaTen}}</i>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="col-10 mb-3">
                                    <i class="textDetail">Vai trò: {{nhanVienDetail.vaiTro}}</i>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="col-10 mb-3">
                                    <i class="textDetail">Giới tính: {{nhanVienDetail.gioiTinh}}</i>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="col-10 mb-3">
                                    <i class="textDetail">Ngày sinh: {{nhanVienDetail.ngaySinh}}</i>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="col-10 mb-3">
                                    <i class="textDetail">Số điện thoại: {{nhanVienDetail.soDienThoai}}</i>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="col-10 mb-3">
                                    <i class="textDetail">Email: {{nhanVienDetail.email}}</i>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelModal">Đóng
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- End Page-content -->

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script>
                        © Dason.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Design & Develop by <a href="#!" class="text-decoration-underline">Themesbrand</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!-- end main content-->
</body>
</html>